
/* CSS Document */
body{
    background-color: hsla(0,0%,83%,1.00);
    padding: 20px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";

}
#wrepper{
    margin: auto;
}
#chat{
    height: 500px;
    background-color: white;
    overflow: auto;
    
}
textarea{
    height: 35px;
    margin-top: 20px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 18px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.singal-message p{
    
    border-top: 3px solid #FF0004;
    padding: 5px;
    margin: 10px;
    width: 300px;
    background-color: hsla(31,100%,96%,1.00);
    border-radius: 12px;
}